body {
	margin: 0;
	padding: 0;
	background: darkblue;
}
header {
	background: darkblue;
	height: 100px;
	width: 100%;
}
header::after {
	content: "";
	display: block;
	height: 20px;
	background: blue;
	width: 100%;
}
#content-wrapper {
	background: orange;
	overflow: auto;
}
#content {
	margin: 0 auto;
	width: 960px;
	margin-bottom: 40px;
}

footer {
	background: darkblue;
	color: #ccc;
	padding: 20px 0;
	text-align: center;
}